body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #333;
    color: white;
    padding: 15 px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 10 px;
    text-decoration: none;
}

section {
    padding: 20 px;
}

#lista-projetos {
    display: flex;
    gap: 10 px;
    flex-wrap: wrap;
}

.projeto {
    border: 1 px solid #ccc;
    padding: 10 px;
    width: 200 px;
}
